<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Grammlator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Grammlator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <applicationSettings>
        <Grammlator.Properties.Settings>
            <setting name="IfToSwitchBorder" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="CSharpCommentlineMarker" serializeAs="String">
                <value>//</value>
            </setting>
            <setting name="CSharpPragmaMarker" serializeAs="String">
                <value>#pragma</value>
            </setting>
            <setting name="EndregionString" serializeAs="String">
                <value>#endregion</value>
            </setting>
            <setting name="ErrorHandlerMethod" serializeAs="String">
                <value />
            </setting>
            <setting name="GeneratedString" serializeAs="String">
                <value>generated</value>
            </setting>
            <setting name="GrammarlineMarker" serializeAs="String">
                <value>//|</value>
            </setting>
            <setting name="GrammarString" serializeAs="String">
                <value>grammar</value>
            </setting>
            <setting name="GrammlatorString" serializeAs="String">
                <value>grammlator</value>
            </setting>
            <setting name="InstructionAcceptSymbol" serializeAs="String">
                <value>AcceptSymbol();</value>
            </setting>
            <setting name="InstructionAssignSymbol" serializeAs="String">
                <value />
            </setting>
            <setting name="NewLineConstant" serializeAs="String">
                <value>\r\n</value>
            </setting>
            <setting name="RegionString" serializeAs="String">
                <value>#region</value>
            </setting>
            <setting name="TerminalSymbolEnum" serializeAs="String">
                <value />
            </setting>
            <setting name="VariableNameErrorStateNumber" serializeAs="String">
                <value>ErrorStateNumber</value>
            </setting>
            <setting name="VariablePrefixStateDescription" serializeAs="String">
                <value />
            </setting>
            <setting name="VariableNameSymbol" serializeAs="String">
                <value>PeekSymbol();</value>
            </setting>
            <setting name="InstructionErrorHalt" serializeAs="String">
                <value />
            </setting>
            <setting name="StateStack" serializeAs="String">
                <value>_s</value>
            </setting>
        </Grammlator.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Grammlator.Properties.Settings>
            <setting name="AttributeStack" serializeAs="String">
                <value>_a</value>
            </setting>
            <setting name="VariableStateStackInitialCount" serializeAs="String">
                <value>StateStackInitialCount</value>
            </setting>
            <setting name="VariableAttributeStackInitialCount" serializeAs="String">
                <value>AttributeStackInitialCount</value>
            </setting>
        </Grammlator.Properties.Settings>
    </userSettings>
</configuration>
